crc
localcrc16.c
*.swp

# From python
__pycache__/
*.py[cod]

# GRC python programs
gfsk_tx.py
top_block.py
rx_quaddemod.py

# Message sending for tests
cmdout.bin
# Stored recordings
recordings/*

# Compiled GNURadio files
hackrf_test/*.py
gnuradio/esttc_loopback.py
gnuradio/esttc_rx.py
gnuradio/esttc_tx.py
