# Source for a lot of this: https://github.com/torfsen/python-systemd-tutorial

[Unit]
Description=Doppler correction based on predict

[Service]
ExecStart=/usr/bin/python3 /home/heron/HERON-ground-station/server/doppler.py
Environment=PYTHONUNBUFFERED=1
Restart=on-failure
Type=notify
User=heron

[Install]
WantedBy=default.target