{% extends 'bootstrap/base.html' %}

{% block title %}
    Heron Mk. II Web Scheduler
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='scheduler.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <h1>Scheduler</h1>

    <button type="button" class="btn btn-info" onclick="showScheduler()">Create Schedule</button>

    <div class="container" id="scheduleMaker">
        <div class="row">
            <div class="col-sm-6 scheduler-column">
                <p class="text-center">Pick Functions</p>
                <ul class="list-group" id="functionList">
                {% for function in functions %}
                    <li class="list-group-item">{{ function }}</li>
                {% endfor %}
                </ul>
            </div>
            <div class="col-sm-6 scheduler-column">
                <p class="text-center">Drag Them Here</p>
                <ul class="list-group" id="newScheduleList"></ul>
            </div>
        </div>
        <button type="button" class="btn btn-info pull-right" onclick="submitSchedule()">Create</button>
    </div>

    <script crossorigin="anonymous"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        let schedules = {{ schedules|tojson }};
        let currFuncId;
    </script>

    <script src="{{ url_for('static',filename='html5sortable.js') }}"></script>
    <script src="{{ url_for('static',filename='scheduler.js') }}"></script>
{% endblock %}
