{% extends 'bootstrap/base.html' %}

{% block title %}
    Heron Mk. II Web Control Panel
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <h1>
        <span>Heron Mk. II Control Panel</span>

        <a class="btn btn-warning pull-right" href="{{ url_for('scheduler') }}" role="button">Scheduler</a>
    </h1>


    {% for command in commands %}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#functionModal"
                data-command-id="{{ loop.index0 }}">{{ command.name }}</button>
    {% endfor %}

    <div class="modal fade" id="functionModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                    <h3 id="func-name-label"></h3>
                    <p id="func-desc"></p>
                </div>
                <form id="functionForm" action="/" method="post">
                    <div id="argblocker" class="modal-body">
                        <label for="arg1" id="arg1label"></label>
                        <input id="arg1" name="arg1" type="text" placeholder="Argument 1">
                        <p id="arg1Desc"></p>

                        <div id="arg2blocker">
                            <label for="arg2" id="arg2label"></label>
                            <input id="arg2" name="arg2" type="text" placeholder="Argument 2">
                            <p id="arg2Desc"></p>
                        </div>

                        <input id='hiddenField' name='id' type='hidden' value=''>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal" onclick="submitForm()">Send Command</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script crossorigin="anonymous"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        let commands = {{ commands|tojson }};
        let currFuncId;
    </script>

    <script src="{{ url_for('static',filename='index.js') }}"></script>
{% endblock %}

